@model IEnumerable<CST356Final.Models.Teacher>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="well">
    <h2>Teachers</h2>
</div>

<p>
    @Html.ActionLink("Create New", "Create", null, htmlAttributes: new { @class = "btn btn-primary" })
</p>
<table class="table table-hover table-striped table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearsExperience)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Senior)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr class="contents">
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YearsExperience)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Senior)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", null, new { id=item.TeacherId }, htmlAttributes: new { @class = "btn btn-info btn-xs" }) |
            @Html.ActionLink("Details", "Details", null, new { id=item.TeacherId }, htmlAttributes: new { @class = "btn btn-info btn-xs" }) |
            @Html.ActionLink("Delete", "Delete", null, new { id=item.TeacherId }, htmlAttributes: new { @class = "btn btn-info btn-xs" })
        </td>
    </tr>
}

</table>

<div>
    <button class="btn btn-primary" id="toggle">Toggle Contents</button>
</div>

@section scripts
{
    <script>
    $(function () {
        $("#toggle").click(function () {
            $(".contents").toggle();
        });
    });
    </script>
}