@model IEnumerable<CST356Final.Models.Class>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="well">
    <h2>Classes</h2>
</div>

<p>
    @Html.ActionLink("Create New", "Create", null, htmlAttributes: new { @class = "btn btn-primary" })
</p>

<table class="table table-hover table-striped table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClassNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClassName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr class="contents">
        <td>
            @Html.DisplayFor(modelItem => item.Subject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClassNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClassName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", null, new { id=item.ClassId }, htmlAttributes: new { @class = "btn btn-info btn-xs" }) |
            @Html.ActionLink("Details", "Details", null, new { id=item.ClassId }, htmlAttributes: new { @class = "btn btn-info btn-xs" }) |
            @Html.ActionLink("Delete", "Delete", null, new { id=item.ClassId }, htmlAttributes: new { @class = "btn btn-info btn-xs" })
        </td>
    </tr>
}

</table>

<div>
    <button class="btn btn-primary" id="toggle">Toggle Contents</button>
</div>

@section scripts
{
<script>
    $(function () {
        $("#toggle").click(function () {
            $(".contents").toggle();
        });
    });
</script>
}
